#main-header img{
    width: 100%;
    height: 395px;
}

#main-header .port-item{
    width: 30%;
}

#main-header .port-item:hover{
    opacity: 0.8;
    cursor: pointer;
}

.bg-black{
    color: white;
    background: black;
}



@media(min-width:1199px){
    .port-item{
        padding: 3em !important;
    }
}
body{
    background: url(../img/5.gif);
    background-repeat: none;
    background-size: 100%;
}